<template>
    <agile class="m6 carousel-block">
      <div class="slide" style="background-image: url('/img/carousel/first-item.jpg')">
        <div class="carousel-content">
          <ul class="categories">
            <li>Design+Lifestyle</li>
            <li>Smart Living</li>
          </ul>

          <h1 class="title">Was hilft mir, Energie zu sparen und Spaß zu haben, bei mir zu Hause?</h1>
          <p class="short-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut  dolor in reprehenderit in quia...</p>
        </div>
      </div>

      <div class="slide" style="background-image: url('/img/carousel/first-item.jpg')">
        <div class="carousel-content">
          <ul class="categories">
            <li>Design+Lifestyle</li>
            <li>Smart Living</li>
          </ul>

          <h1 class="title">Was hilft mir, Energie zu sparen und Spaß zu haben, bei mir zu Hause?</h1>
          <p class="short-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut  dolor in reprehenderit in quia...</p>
        </div>
      </div>

      <div class="slide" style="background-image: url('/img/carousel/first-item.jpg')">
        <div class="carousel-content">
          <ul class="categories">
            <li>Design+Lifestyle</li>
            <li>Smart Living</li>
          </ul>

          <h1 class="title">Was hilft mir, Energie zu sparen und Spaß zu haben, bei mir zu Hause?</h1>
          <p class="short-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut  dolor in reprehenderit in quia...</p>
        </div>
      </div>
    </agile>
</template>

<script>

  import Vue from 'vue';
  import VueAgile from 'vue-agile';

  Vue.use(VueAgile);

    export default {
        name: "Carousel",

        props: {
          arrows: {
            type: Boolean,
            default: false
          }
        }
    }
</script>

