<template>
  <component :is="type" :data-set="dataSet"></component>
</template>

<script>
import BarChart from "./BarChart.vue";
import LineChart from "./LineChart.vue";
import PieChart from "./PieChart.vue";

export default {
  name: "app",
  data() {
    return {
      selectedChart: "",
    };
  },
  props: ['type', 'dataSet'],
  components: {
    bar: BarChart,
    line_: LineChart,
    pie: PieChart,
  },
  created(){
    console.log(this.dataSet)
  }
};
</script>
