<template>
  <div class="linechart">
    <highcharts class="line" :options="dataSet.lineOptions"></highcharts>
  </div>
</template>

<script>
  export default {
    props:[
      'dataSet'
    ]
  }
</script>
