<template>
<div class="piechart">
  <highcharts class="pie" :options="dataSet.pieOptions"></highcharts>
</div>
</template>

<script>
  export default {
    props:[
      'dataSet'
    ]
  }
</script>
