<template>
  <div>
    <div id="container" v-on:click="showMobileMenu = !showMobileMenu">
      <div class="inner-container">
        <div class="toggle">
          <p>DE</p>
        </div>
        <div class="toggle">
          <p>EN</p>
        </div>
      </div>
      <div class="inner-container" v-bind:class="{ firstAction: showMobileMenu, secondAction: !showMobileMenu }">
        <div class="toggle">
          <p>DE</p>
        </div>
        <div class="toggle">
          <p>EN</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ToggleBtn",

    data() {
      return {
        showMobileMenu: false
      }
    }
  }
</script>
