<template>

  <div class="wrap">
    <header>
      <div class="top-nav">
        <div class="pages">
          <a href="#">Über uns</a>
          <a href="#">Redaktion</a>
        </div>
        <toggle></toggle>
      </div>

      <div class="clearfix"></div>

      <div class="main-wrap">
        <div class="m2 s8">
          <a href="#" class="brand"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="m6">
          <div class="main-nav">
            <div id="wrap">
              <form action="" autocomplete="on">
                <input id="search" name="search" type="text" placeholder="What're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
              </form>
            </div>
            <ul class="navbar">
              <li><a href="#">design+lifestyle</a></li>
              <li><a href="#">trends</a></li>
              <li><a href="#">infodelight</a></li>
              <li><a href="#">smart living</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="top-content clearfix">
      <div class="main-wrap">
        <carousel></carousel>
        <div class="m2 p-2 flex">
          <div class="other-carousel">
            <h3>A place called Inspiration.</h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam voluptatem.</p>
            <select class="btn-more" v-model="selectedChart">
              <option>barChart</option>
              <option>lineChart</option>
              <option>pieChart</option>
            </select><br>
            <button v-on:click="addChart" class="btn-more">Insert</button>
          </div>
        </div>
      </div>
    </section>

    <section class="articles">
      <div class="main-wrap">
        <div class="m4">
          <div class="article-item" style="background-image: url('img/article-images/first.jpg')">
            <div class="title-article">
              <div class="title-content">
                <ul class="categories">
                  <li>Design+Lifestyle</li>
                  <li>Smart Living</li>
                </ul>

                <h1 class="title">Was hilft mir, Energie zu sparen und Spaß zu haben, bei mir zu Hause?</h1>
                <p class="short-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut  dolor in reprehenderit in quia...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="m4 p-2">
          <div class="article-item" style="background-image: url('img/article-images/second.jpg')">
            <div class="title-article">
              <div class="title-content">
                <ul class="categories">
                  <li>Design+Lifestyle</li>
                  <li>Smart Living</li>
                </ul>

                <h1 class="title">Was hilft mir, Energie zu sparen und Spaß zu haben, bei mir zu Hause?</h1>
                <p class="short-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut  dolor in reprehenderit in quia...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <chart type="line_" :data-set="lineData" v-show="showLineChart"></chart>
    <chart type="pie" :data-set="pieData" v-show="showPieChart"></chart>
    <chart type="bar" :data-set="barData" v-show="showBarChart"></chart>
  </div>

</template>

<script>
import Chart from "./components/Chart.vue";

import Carousel from "./components/Carousel";
import ToggleBtn from "./components/ToggleBtn";

export default {
  name: "app",
  data() {
    return {
      showBarChart: false,
      showLineChart: false,
      showPieChart: false,
      selectedChart: "",
      lineData: {
        lineOptions: {
          title: {
            text: "Points scored"
          },

          legend: {
            layout: "vertical",
            align: "right",
            verticalAlign: "top"
          },

          plotOptions: {
            series: {
              label: {
                connectorAllowed: false
              }
            }
          },
          xAxis: {
            categories: ["Team 1", "Team 2", "Team 3", "Team 4"]
          },
          series: [
            {
              name: "period 1",
              data: [90, 20, 40, 60]
            },
            {
              name: "period 2",
              data: [20, 30, 10, 40]
            }
          ],

          responsive: {
            rules: [
              {
                condition: {
                  maxWidth: 500
                },
                chartOptions: {
                  legend: {
                    layout: "horizontal",
                    align: "center",
                    verticalAlign: "bottom"
                  }
                }
              }
            ]
          }
        }
      },
      barData: {
        barOptions: {
          chart: {
            type: "bar"
          },
          title: {
            text: "Points scored"
          },
          xAxis: {
            categories: ["Team 1", "Team 2", "Team 3", "Team 4"]
          },
          yAxis: {
            min: 0
          },
          legend: {
            layout: "vertical",
            align: "right",
            verticalAlign: "top",
            reversed: true
          },
          plotOptions: {
            bar: {
              dataLabels: {
                enabled: true
              }
            }
          },
          series: [
            {
              name: "period 1",
              data: [5, 3, 4, 7]
            },
            {
              name: "period",
              data: [2, 2, 3, 2]
            }
          ]
        }
      },
      pieData: {
        pieOptions: {
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: "pie"
          },
          title: {
            text: "Points scored"
          },
          legend: {
            layout: "vertical",
            align: "right",
            verticalAlign: "top"
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: "pointer",
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [
            {
              name: "Points",
              colorByPoint: true,
              data: [
                {
                  name: "Team 1",
                  y: 21.8
                },
                {
                  name: "Team 2",
                  y: 32.7
                },
                {
                  name: "Team 3",
                  y: 10.9
                },
                {
                  name: "Team 4",
                  y: 34.5
                }
              ]
            }
          ]
        }
      }
    };
  },
  components: {
    chart: Chart,
    carousel: Carousel,
    toggle: ToggleBtn
  },
  methods: {
    addChart() {
      console.log(this.selectedChart);
      switch (this.selectedChart) {
        case "barChart":
          this.showBarChart = !this.showBarChart;
          break;
        case "lineChart":
          this.showLineChart = !this.showLineChart;
          break;
        case "pieChart":
          this.showPieChart = !this.showPieChart;
          break;
      }
    }
  },
  computed: {}
};
</script>
