.slide {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.agile__dot button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  height: 4px !important;
  font-size: 0;
  line-height: 0;
  margin: 0 5px;
  transition-duration: .3s;
}

.agile__dots {
  z-index: 1;
  margin-left: -53%;
  margin-top: 30%;
}
@media (max-width: 1200px) {
  .agile__dots {
    margin-left: -55%;
  }
}
@media (max-width: 486px) {
  .agile__dots {
    margin-left: -60%;
    margin-top: 60%;
  }
}

.agile__arrow {
  display: none;
}

.carousel-content {
  margin-top: 10%!important;
  padding: 0 5%;
}
