@import "./src/scss/toggle.scss";
@import "./src/scss/carousel.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 35px;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.barchart{
  width: 50%;
  float: left;
}
.linechart{
  width: 50%;
  float: left;
}
.piechart{
  width: 50%;
  float: left;
}
@media (max-width: 992px) {
  .barchart{
    width: 100%;
  }
  .linechart{
    width: 100%;
  }
  .piechart{
    width: 100%;
  }
}
.main-wrap {
  margin-right: -15px;
  margin-left: -15px;
}

.m2, .m4, .m6{
  position: relative;
  float: left;
  min-height: 1px;
}

.top-content {
  color: #ffffff;
  margin-bottom: 2px;
  h3 {
    font-size: 24px;
    margin-bottom: 35px;
  }
  p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.other-carousel {
  margin: auto;
  background: #323232;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-more {
  display: inline-block;
  min-width: 148px;
  margin-bottom: 9px;
  padding: 10px 17px;
  background-color: #323232;
  border: 1px solid #ffffff;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.articles {
  color: #ffffff;
}

.article-item {
  height: 400px;
  background-position: center;
  background-size: cover;
}

.title-article {
  display: flex;
  height: 100%;
  background: rgba(51, 51, 51, 0.4);
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  vertical-align: middle;
}

.title-content {
  z-index: 2;
  margin: auto !important;
}

.title-article:hover {
  background: rgba(51, 51, 51, 0.2);
  transition: 0.3s all;
  cursor: pointer;
}

ul.categories {
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin-left: -5px;
    padding: 1px 7px;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}

.carousel-block, .other-carousel {
  height: 400px;
}

.carousel-block {
  display: flex;
  text-align: center;
}

#testimonials {
  margin: auto;
}

.categories {
  margin: 0 -5px 35px;
}

.title {
  font-size: 24px;
}

.short-article {
  font-size: 14px;
}

.top-nav {
  display: flex;
  float: right;
  margin-bottom: 40px;
}

#container {
  display: inline-block;
  width: 60px;
  height: 25px;
  margin-top: 7px;
  margin-left: 5px;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .2em;
  &:first-child {
    color: #333333;
    border: 1px solid #333333;
  }
  &:nth-child(2) {
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    color: #cccccc;
    clip-path: inset(0 50% 0 0);
    transition: 0.3s cubic-bezier(0, 0, 0, 1);
  }
}

.pages {
  margin: auto;
  display: inline-block;
  a {
    font-size: 14px;
    padding: 0 15px;
    color: #333333;
  }
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
  p {
    margin: auto;
  }
  &:nth-child(1) {
    right: 0;
  }
}

.brand {
  margin-top: -15px;
  margin-left: 10px;
}

.main-nav {
  float: right;
  display: flex;
}

ul.navbar {
  display: inline-block;
  margin: auto;
  padding: 0;
  li {
    display: inline;
    padding: 1px 12px;
    text-transform: uppercase;
    border-left: 1px solid #333333;
  }
  a {
    color: #333333;
  }
}

#wrap {
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 0;
  margin-right: 10px;
}

input {
  &[type="text"] {
    height: 60px;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;
    &:focus {
      &:hover {
        border-bottom: 1px solid #BBB;
      }
      width: 200px;
      z-index: 1;
      border-bottom: 1px solid #BBB;
      cursor: text;
    }
  }
  &[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    color: red;
    float: right;
    background: url('/img/icons/search.png') center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: -3px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .4s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}


.dropbtn {
  display: inline-block;
  min-width: 148px;
  margin-bottom: 9px;
  padding: 10px 17px;
  border: 1px solid #ffffff;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}


.dropdown:hover .dropdown-content {
  display: block;
}

/*
RESPONSIVE
 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .s8 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .m6 {
    width: 75%;
  }
  .m4 {
    width: 50%;
  }
  .m2 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .p-2 {
    padding-left: 2px;
  }
}
.agile__dots{
  margin-top: 340px;
}

@media (max-width: 992px) {
  .m4 {
    width: 100%;
  }
  .m2 {
    width: 100%;
}
  .carousel-block {
    width: 100%;
  }
  .owl-controls {
    bottom: -70px;
  }
  .other-carousel {
    height: 300px;
  }
  .article-item {
    margin-bottom: 2px;
  }
}
