.firstAction {
  clip-path: inset(0 0 0 50%)!important;
  background-color: #ffffff;
  border-color: #333333;
}
.secondAction {
  clip-path: inset(0 50 0 0)!important;
  background-color: #f5f5f5;
  border-color: #d2d2d2;
}
